.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container > div {
  margin: 12px;
  text-align: left;
  line-height: 32px;
  font-size: 20px;
}

.stats-card {
  margin-top: 32px;
  margin-bottom: 32px;
}

.stats-text {
  font-family: sans-serif;
  font-size: x-large;
}

.stats-number {
  display: inline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: xxx-large;
  margin-left: 24px;
  margin-right: 24px;
}
