<h2>Welcome back!</h2>

<p>Current progress on your project tasks:</p>
<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>


<mat-card class="stats-card">
  <mat-card-content class="flex-container">
      <div>
        <p class="stats-text">Notes from your mentor that are not solved yet</p>
      </div>

      <div>
        <h1 class="stats-number">10</h1>
        <img src="assets/img/danger.png" width="50px">
      </div>
  </mat-card-content>
</mat-card>

<mat-card class="stats-card">
  <mat-card-content class="flex-container">
    <div>
      <p class="stats-text">Solved notes so far</p>
    </div>

    <div>
      <h1 class="stats-number">4</h1>
      <img src="assets/img/checked.png" width="50px">
    </div>
  </mat-card-content>
</mat-card>
